fastapi==0.129.0
uvicorn[standard]==0.41.0

SQLAlchemy==2.0.46
asyncpg==0.31.0
pgvector==0.4.2
SQLAlchemy-Utils==0.42.1

pydantic==2.12.5
pydantic-settings==2.13.0
python-dotenv==1.2.1

numpy>=1.24,<2.3
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.13.1

greenlet==3.3.1

python-multipart==0.0.22
orjson==3.11.7