services:
  cinegraph:
    build: ../backend
    volumes:
      - ../backend/data:/app/data
      - ../backend/emotion_analysis/embeddings:/app/emotion_analysis/embeddings
      - ../backend/preprocessing/ready_data:/app/preprocessing/ready_data
      - ../backend/emotion_analysis/weights:/app/emotion_analysis/weights
    env_file:
      - .env

  postgres:
    image: pgvector/pgvector:pg17
    container_name: postgres_db
    restart: unless-stopped

    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../backend/services/db_service/db_init.sql:/docker-entrypoint-initdb.d/db_init.sql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: